.app {
  background-image: url("https://images.unsplash.com/photo-1479688895406-3f032f15f0ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

  .panel {
    flex: 4;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem 6rem 0;
    background: rgba(0, 0, 0, 0.3);

    .weather-info {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      padding-bottom: 30px;

      .units {
        display: flex;
        height: 60px;
        justify-content: end;
        align-items: center;
        font-size: 30px;
        font-weight: 300px;
        color: white;
        gap: 5px;

        p {
          cursor: default;
        }

        button {
          cursor: pointer;
          height: 40px;
          font-size: 20px;
          color: white;
          border: none;
          background-color: transparent;
          padding: 5px 15px;
          border-radius: 20px;

          &:hover {
            transform: scale(1.05);
            background: rgba(110, 110, 110, 0.25);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(10px);
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }

      .display {
        display: flex;
        flex-direction: row;
        gap: 50px;

        .temp {
          font-size: 7rem;
          font-weight: 500;
          display: flex;
          align-items: end;
          height: 8rem;
        }

        .location-time {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 8rem;
          border-left: 2px solid rgba(255, 255, 255, 0.25);
          border-right: 2px solid rgba(255, 255, 255, 0.25);
          padding: 0 30px;
          gap: 10px;

          .location {
            font-size: 2.5rem;
            font-weight: 500;
          }

          .time-date {
            font-size: 1rem;
            font-weight: 600;
          }
        }

        .condition {
          height: 8rem;
          font-size: 2rem;
          font-weight: 500;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .hourly-forecast {
      flex: 1;
    }

    .daily-forecast {
      flex: 1;
      display: flex;
      flex-direction: row;
      gap: 30px;
      padding: 50px 0;

      .forecast {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex: 1;

        background: rgba(110, 110, 110, 0.25);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        border-radius: 25px;
        padding: 30px;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 0px 10px 2px rgba(110, 110, 110, 0.8);
          -webkit-box-shadow: 0px 0px 10px 2px rgba(110, 110, 110, 0.8);
          -moz-box-shadow: 0px 0px 10px 2px rgba(110, 110, 110, 0.8);
        }

        .day {
          font-size: 1rem;
          font-weight: 400;
        }

        .temperature {
          .high {
            font-size: 2rem;
            font-weight: 500;
          }

          .low {
            font-size: 1rem;
            font-weight: 500;
          }
        }

        i {
          font-size: 2rem;
        }
      }
    }
  }

  .details {
    flex: 1;
    height: 100%;
    width: 100%;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 30px;

    .search {
      border: 2px solid rgba(255, 255, 255, 0.18);
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);

      width: 100%;
      display: flex;
      justify-content: center;
      height: 50px;
      border-radius: 25px;
      margin-bottom: 60px;

      input {
        color: white;
        width: 85%;
        padding: 20px 20px;
        background-color: transparent;
        border: none;

        &::placeholder {
          color: lightgray;
        }

        &:focus {
          outline: none;
        }
      }

      button {
        width: 15%;
        border: none;
        color: white;
        background-color: transparent;
        border-left: 2px solid rgba(255, 255, 255, 0.18);
        overflow: hidden;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }
        i {
          font-size: 20px;
        }
      }
    }

    .details-container {
      padding-left: 30px;

      .weather-details {
        margin-bottom: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;

        i {
          font-size: 2.5rem;
        }

        .info {
          p {
            font-size: 1rem;
          }

          h6 {
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
